<%- include('partials/header'); -%>

<header>
  <div class="chicken">
    <img src="/chicken.png" alt="">
  </div>
  <div class="headings">
    <h2>Chicken Rice Recipes</h2>
    <h3>By Techies For Techies</h3>
    <a href="/chickens" class="btn">View Recipes</a>
  </div>
</header>


<%- include('partials/footer'); -%>